.form-container {
    border: solid 2px black;
    border-radius: 5%;
    background-color: white;
    padding: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.background {
    background-image:url("../assets/imgs/postit2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}